@import '../variables/variables.scss';
@import '../mixin//mixin.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-size: 10px;
}

a{
  color: black;
}

section{
  width: 120rem;
  margin: auto;
  position: relative;
  @include tablet{
    width: 70rem;
  }
  @include mobile{
    width: 30rem;
  }
}

.header{
  height: 8rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content:space-between;

  @include mobile{
    display:inline-block;
    height: 10rem;
  }
  .header_left{
    width: 15rem;
    img{
      @include mobile{
        width: 15rem;
        align-items:center;
      }
    }
  }
  .header_center{
    width: 40rem;
    padding-top: calc((8rem - 3rem)/2);
    position: relative;
    @include tablet{
      width: 25rem;
    }
    @include mobile{
      width: 30rem;
      padding-top: 1rem;
      float: left;
      
    }
    input{
      font-size: 1.5rem;
      height: 3rem;
      margin: 0;
    }
    input[type=text]{
      width: 40rem;
      position:absolute;
      border: 0.5px solid $mainColor;
      &:focus{
        outline: none;
      }
      @include tablet{
        width: 25rem;
      }
      @include mobile{
        width: 30rem;
      }

    }
    input[type=submit]{
      width: 5rem;
      position:absolute;
      background: $mainColor;
      border: none;
      cursor: pointer;
      right: 0;
    }
    ul{
      position: absolute;
      top: 6rem;
      width: 40rem;
      line-height: 3.5rem;
      z-index: 10;
      background: white;
      @include tablet{
        width: 25rem;
        top: 5.5rem;
      }
      @include mobile{
        width: 30rem;
        top:3.7rem;
      }
      li{
        height: 3.5rem;
        font-size: 2rem;
        cursor: pointer;
        overflow: hidden;
        &:hover{
          background: rgb(224, 219, 219);
        }
        @include mobile{
          font-size: 1.5rem;
        }
      }
      
    }
  }
  .header_right{
    font-size: 2rem;
    padding-top: calc((8rem - 2.533rem)/2);
    @include tablet{
     font-size: 1.7rem;
    }
    @include mobile{
      padding-top: 0;
      font-size: 1.5rem;
      position: absolute;
      right: 0;
      top: 2rem;
    }
  }
}

article{
  width: 100%;
  height: 70rem;
  overflow-y: scroll;

  .searchingLists{
   
    li{
      width: 100%;
      height: 19rem;
      border: 1px solid rgb(238, 234, 234);
      padding:calc((19rem - 15rem)/2);
      

      @include mobile{
        height: 35rem;
        display: flex;
        flex-direction: column;
      }

      div:first-child{
        width: 25rem;
        height: 15rem;
        float: left;
        
      }
      .info{
        height: 15rem;
        width: 80rem;
        margin-left: 30rem;
        @include tablet{
          width: 30rem;
        }
        @include mobile{
          width: 25rem;
          height: 20rem;
          margin-left: 0;
          margin-top: 16rem;
        }
        .title{
          width: 25rem;
        }
        h1{
          height: 11rem;
          font-size: 4rem;
          @include tablet{
            font-size: 3rem
          }
          @include mobile{
            font-size: 2rem
          }
        }
        p{
          color: gray;
          font-size: 2rem;
          margin-bottom: 2rem;
          vertical-align: bottom;
        }
      }
    }

  }
  
}