@import "../variables/variables.scss";
@import '../mixin/mixin.scss';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  font-size: 10px;
  background: $mainColor;
}

section{
  width: 120rem;
  padding-top: 20rem;
  margin: auto;

  @include tablet{
    width:70rem
  }
  @include mobile{
    padding-top: 15rem;
    width:30rem
  }
}

.wrap{
  @include mainWidth;
  height: 35rem;
  background: white;
  margin: auto;
  box-shadow: 10px 10px 15px $boxshadow;

  @include mobile{
    width:30rem
  }
  
}

.top_bar{
  @include mainWidth;
  height: 5rem;
  display: table-cell;
  vertical-align: middle;
  padding-top: calc((5.1rem - 2.344rem)/2);
  
  img{
    width: 15rem;
    line-height: calc((5.1rem - 2.344rem)/2);
  }
}

article{
  @include mainWidth;
  @include mobile{
    width:30rem;
  }
  form{
    @include mainWidth;
    height: 100%;
    font-size: 2.3rem;
    @include mobile{
      width:30rem;
      font-size: 1.6rem;
    }
    li{
      height: 4rem;
      line-height: 4rem;
      list-style: none;
      margin-top: 2rem;
      text-align: center;
      
      input{
        width: 20rem;
        height: 2.8rem;
        margin-left: 3rem;
        @include mobile{
          width: 15rem;
        }
      }

      

      &:last-child{
        margin-top: 5rem;
        @include mobile{
          margin: 3rem auto;
        }
      }
    }
    
  }
}


