@import '../variables/variables.scss';
@import '../mixin/mixin.scss';

*{
  margin: 0;
  padding: 0;
}

html,
body{
  width: 100%;
  height: 100%;
  background: $mainColor;
  font-size: 10px;
}

.container{
  height: 100%;
  position: relative;
  
  .wrap{
    @include mainWidth;
    background: white;
    margin: 5rem auto;
    box-shadow: 10px 10px 15px $boxshadow;
    @include mobileAndTablet{
      width: 35rem;

    }
  }
}

.top_bar{
  @include mainWidth;
  height: 5rem;
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid $subMainColor1;
  padding-top: calc((5.1rem - 2.344rem)/2);
  
  img{
    width: 15rem;
    line-height: calc((5.1rem - 2.344rem)/2);
  }

  

}

.article{
  @include mainWidth;
  @include mobileAndTablet{
    width: 35rem;
  }
  
  // background: $subMainColor;

  form{
    @include mainWidth;
    height: 100%;

    @include mobileAndTablet{
      width: 35rem;

    }
    input{
      @include mainWidth;
    }

    .putName{
      padding: 2rem 2rem 2rem 1rem;
      label{
        font-size: $mainTextSize;
        margin-right: 2rem;
      }
      input[type=text]{
        width: 20rem;
        height: 2rem;
        font-size: $mainTextSize;
        padding: 0.5rem;
      }
    }
    .seclect_position{
      height: calc((70rem - 5.133rem) - 7.4rem);
      display: flex;
      flex-direction: column;

      @include mobileAndTablet{
        height: 40rem;
      }
      
      button[type=submit]{
        position: relative;
        border: none;
        height: calc((70rem - 7.4rem)/2);
        background: $subMainColor1;
        cursor: pointer;
        
        @include mobileAndTablet{
          height: calc((47.4rem - 7.1rem)/2);
        }

        p{
          position: absolute;
          top: 1rem;
          left: 1rem;
          font-size: $mainTextSize;
        }
        img[alt=teacher]{
          height: 20rem;
          margin-left: 9rem;

          @include mobileAndTablet{
            height: 15rem;
          }
          
        }
        img[alt=student]{
          height: 22rem;
          @include mobileAndTablet{
            height: 17rem;
          }
          
        }

        &:first-child{
          border-bottom: 1px solid rgb(224, 222, 222);
          
        }
        &:hover{
          background: $subMainColor2;
        }
        
      }

      

    }
    
    
    
  }
}

