@import '../variables/variables.scss';
@import '../mixin//mixin.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-size: 10px;
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

section{
  width: 120rem;
  margin: auto;
  @include tablet{
    width: 70rem;
  }
  @include mobile{
    width: 30rem;
    position: relative;
  }
}

.header{
  height: 8rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content:space-between;
  @include mobile{
    display:inline-block;
    height: 10rem;
  }

  .header_left{
    padding-top: calc((8rem - 6.25rem)/2);
      img{
        @include tablet{
          width: 20rem;
          align-items:center;
        }
        @include mobile{
          width: 15rem;
          align-items:center;
        }
      
    }
    @include mobile{
      float: left;
    }
    
  }
  .header_center{
    width: 40rem;
    padding-top: calc((8rem - 3rem)/2);
    position: relative;

    @include tablet{
      width: 25rem;
    }
    @include mobile{
      width: 30rem;
      padding-top: 1rem;
      float: left;
      
    }
    input{
      font-size: 1.5rem;
      height: 3rem;
      margin: 0;
    }
    input[type=text]{
      width: 40rem;
      position:absolute;
      border: 0.5px solid $mainColor;
      &:focus{
        outline: none;
      }

      @include tablet{
        width: 25rem;
      }
      @include mobile{
        width: 30rem;
      }

    }
    input[type=submit]{
      width: 5rem;
      position:absolute;
      background: $mainColor;
      border: none;
      cursor: pointer;
      right: 0;
    }
    ul{
      position: absolute;
      top: 6rem;
      width: 40rem;
      line-height: 3.5rem;
      z-index: 10;
      background: white;

      @include tablet{
        width: 25rem;
        top:5.5rem;
      }
      @include mobile{
        top: 4.3rem;
        width: 30rem;
      }
      
      li{
        height: 3.5rem;
        font-size: 2rem;
        cursor: pointer;
        overflow: hidden;
        &:hover{
          background: rgb(224, 219, 219);
        }
        @include mobile{
          font-size: 1.5rem;
        }
      }
      
    }
  }

  .header_right{
    font-size: 2rem;
    padding-top: calc((8rem - 2.533rem)/2);
    @include mobile{
      font-size: 1.5rem;
      position: absolute;
      right: 0;
    }
  }
}

.article{
  width: 120rem;
  height: calc(45rem *4);
  position: relative;
  overflow: hidden;
  @include tablet{
    width: 70rem;
    align-items:center;
  }
  @include mobile{
    width: 30rem;
  }
  .loading{
    display: none;
    width: 70rem;
    height: 10rem;
    position:absolute;
    bottom: 0;
    font-size: 3rem;
    line-height: 10rem;
    text-align: center;
    vertical-align: middle;
    background: rgb(233, 230, 230);

    @include mobile{
      width: 30rem;
    }

    &.showLoading{
      display: block;
    }
  }
  
  .course{
    width: 75rem;
    @include mobile{
      width: 30rem;
    }
    li{
      width: calc((75rem / 2) - 5rem); 
      height: 40rem; 
      float: left;
      margin-bottom: 5rem;
      font-size: 2.7rem;
      line-height: 3.5rem;

      @include mobile{
        width: 30rem;
      }
      &:nth-child(odd){
        margin-right: 5rem;
      }
      .coverImg{
        width: 100%;
        height: 20rem;
        // background: url("https://via.placeholder.com/300x300") no-repeat center;
        background-size: cover;
        margin-bottom: 1rem;
      }
      .title{
        height: 7rem;
      }
      .instructorName{
        font-size: 2rem;
        color: gray;
      }
      .price{
        color: rgb(45, 91, 183);
      }
    }
  }
  .article_right{
    width: 40rem;
    height: 23rem;
    position:fixed;
    top: calc(8rem + 5rem);
    margin-left: calc(120rem - 40rem);
    padding-left: 3rem;
    border:1px solid $subMainColor2;

    @include tablet{
      width: 20rem;
      position:fixed;
      margin-left: 0;
      left: 0;
      top: 50rem;
    }
    @include mobile{
      width: 20rem;
      height: 18rem;
      position:fixed;
      margin-left: 0;
      left: 0;
      top: 55rem;
      background: $subMainColor2;
      opacity: 0.7;
    }
    

    .user_profile{
      font-size: 2rem;
      line-height: 4rem;
      margin-top: 1rem;

    }
    .control{
      width: calc(40rem - 4rem);
      height: 4rem;
      position: absolute;
      font-size: 2.5rem;
      bottom: 1rem;

      @include mobileAndTablet{
        width: calc(20rem - 4rem);
      }

      .create{ 
        font-size: 1.8rem;
        background: $mainColor;
        padding: 0.8rem 1.5rem;
        border-radius: 0.5rem;
        border-radius: 1rem;
        display: none;

        @include tablet{
          font-size: 1.5rem;
          padding: 0.5rem 1.3rem;
          margin-top: calc((4rem - 2.9rem)/2);
        }

        @include mobile{
          font-size: 1.5rem;
          padding: 0.5rem 1.3rem;
          margin-top: calc((4rem - 2.9rem)/2);
        }
        

        &.show{
          display: block;
          float: left;
        }
        &:hover{
          background: $subMainColor1;
        }
      }

      a:last-child{
        cursor: pointer;
        float: right;
        @include tablet{
          line-height: 4rem;
          font-size: 1.8rem;
        }
        @include mobile{
          line-height: 4rem;
          font-size: 1.5rem;
        }

        
      }
      
    }
  }
}