@charset "UTF-8";
/* 반응형 */
/* 반응형 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

section {
  width: 120rem;
  margin: auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  section {
    width: 70rem;
  }
}

@media (max-width: 767px) {
  section {
    width: 30rem;
    position: relative;
  }
}

.header {
  height: 8rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header {
    display: inline-block;
    height: 10rem;
  }
}

.header .header_left {
  padding-top: calc((8rem - 6.25rem)/2);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .header_left img {
    width: 20rem;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .header .header_left img {
    width: 15rem;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .header .header_left {
    float: left;
  }
}

.header .header_center {
  width: 40rem;
  padding-top: calc((8rem - 3rem)/2);
  position: relative;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .header_center {
    width: 25rem;
  }
}

@media (max-width: 767px) {
  .header .header_center {
    width: 30rem;
    padding-top: 1rem;
    float: left;
  }
}

.header .header_center input {
  font-size: 1.5rem;
  height: 3rem;
  margin: 0;
}

.header .header_center input[type=text] {
  width: 40rem;
  position: absolute;
  border: 0.5px solid #7acc98;
}

.header .header_center input[type=text]:focus {
  outline: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .header_center input[type=text] {
    width: 25rem;
  }
}

@media (max-width: 767px) {
  .header .header_center input[type=text] {
    width: 30rem;
  }
}

.header .header_center input[type=submit] {
  width: 5rem;
  position: absolute;
  background: #7acc98;
  border: none;
  cursor: pointer;
  right: 0;
}

.header .header_center ul {
  position: absolute;
  top: 6rem;
  width: 40rem;
  line-height: 3.5rem;
  z-index: 10;
  background: white;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .header_center ul {
    width: 25rem;
  }
}

@media (max-width: 767px) {
  .header .header_center ul {
    width: 30rem;
  }
}

.header .header_center ul li {
  height: 3.5rem;
  font-size: 2rem;
  cursor: pointer;
  overflow: hidden;
}

.header .header_center ul li:hover {
  background: #e0dbdb;
}

@media (max-width: 767px) {
  .header .header_center ul li {
    font-size: 1.5rem;
  }
}

.header .header_right {
  font-size: 2rem;
  padding-top: calc((8rem - 2.533rem)/2);
}

@media (max-width: 767px) {
  .header .header_right {
    font-size: 1.5rem;
    position: absolute;
    right: 0;
  }
}

.article {
  width: 120rem;
  height: calc(45rem *4);
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .article {
    width: 70rem;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .article {
    width: 30rem;
  }
}

.article .loading {
  display: none;
  width: 70rem;
  height: 10rem;
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  line-height: 10rem;
  text-align: center;
  vertical-align: middle;
  background: #e9e6e6;
}

@media (max-width: 767px) {
  .article .loading {
    width: 30rem;
  }
}

.article .loading.showLoading {
  display: block;
}

.article .course {
  width: 75rem;
}

@media (max-width: 767px) {
  .article .course {
    width: 30rem;
  }
}

.article .course li {
  width: calc((75rem / 2) - 5rem);
  height: 40rem;
  float: left;
  margin-bottom: 5rem;
  font-size: 2.7rem;
  line-height: 3.5rem;
}

@media (max-width: 767px) {
  .article .course li {
    width: 30rem;
  }
}

.article .course li:nth-child(odd) {
  margin-right: 5rem;
}

.article .course li .coverImg {
  width: 100%;
  height: 20rem;
  background-size: cover;
  margin-bottom: 1rem;
}

.article .course li .title {
  height: 7rem;
}

.article .course li .instructorName {
  font-size: 2rem;
  color: gray;
}

.article .course li .price {
  color: #2d5bb7;
}

.article .article_right {
  width: 40rem;
  height: 23rem;
  position: fixed;
  top: calc(8rem + 5rem);
  margin-left: calc(120rem - 40rem);
  padding-left: 3rem;
  border: 1px solid #d6f39c;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .article .article_right {
    width: 20rem;
    position: fixed;
    margin-left: 0;
    left: 0;
    top: 50rem;
  }
}

@media (max-width: 767px) {
  .article .article_right {
    width: 20rem;
    height: 18rem;
    position: fixed;
    margin-left: 0;
    left: 0;
    top: 55rem;
    background: #d6f39c;
    opacity: 0.7;
  }
}

.article .article_right .user_profile {
  font-size: 2rem;
  line-height: 4rem;
  margin-top: 1rem;
}

.article .article_right .control {
  width: calc(40rem - 4rem);
  height: 4rem;
  position: absolute;
  font-size: 2.5rem;
  bottom: 1rem;
}

@media (max-width: 1024px) {
  .article .article_right .control {
    width: calc(20rem - 4rem);
  }
}

.article .article_right .control .create {
  font-size: 1.8rem;
  background: #7acc98;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border-radius: 1rem;
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .article .article_right .control .create {
    font-size: 1.5rem;
    padding: 0.5rem 1.3rem;
    margin-top: calc((4rem - 2.9rem)/2);
  }
}

@media (max-width: 767px) {
  .article .article_right .control .create {
    font-size: 1.5rem;
    padding: 0.5rem 1.3rem;
    margin-top: calc((4rem - 2.9rem)/2);
  }
}

.article .article_right .control .create.show {
  display: block;
  float: left;
}

.article .article_right .control .create:hover {
  background: #b3cc7f;
}

.article .article_right .control a:last-child {
  cursor: pointer;
  float: right;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .article .article_right .control a:last-child {
    line-height: 4rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {
  .article .article_right .control a:last-child {
    line-height: 4rem;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=mainCourse.css.map */